@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800';
*{	
	margin:0;
	padding: 0;	
}
body{
	overflow: auto;
	font-family: 'open sans', sans-serif;
}
/*footer*/
footer{
	background-color:#1A1A1A; 
	display: flex;
	flex-direction: column;
	height: 140px;	
}
/*before footer-tile*/
.before-title{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social-networks, .menu{
	display: flex;
	list-style: none;	
}
.social-networks img {
	width: 20px; height: 25px;
	margin: 0 1.5em 0 0.1em;
}
.menu li{ 
	cursor: pointer;
	margin: 0 0.5em 0 0.1em;
	color: #ffffff;
}
.separator{
	border: 1px solid #FFFFFF;
	margin: 0 0.5em 0 0.1em;
	margin-top: 4px;

}
/*footer-tille*/
.footer-title{	
	display: flex;
	justify-content: center;
	background-color: #000000;
	height: 60px;
}
.footer-title p {
	color: #FAC800;
	margin: 0 0.5em 0 0.1em;
	display: flex;
	align-items: center;
}
.logo{	
	display: flex;
	align-items: center;
}
.logo img{
	width: 75px; height: 18px;
	display: flex;
	align-items: center;
}

/*media query for tablet*/
@media (max-width: 767px)
{
	.before-title{
		display: flex;
		flex-direction: column;
	}
}
/*media query for cellphone*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	/*footer*/
	footer{
			height: 360px;
	}
	/*before footer-tile*/
	.before-title{
		display: flex;
		flex-direction: column;
	}
	.social-networks img {
		width: 55px; height: 60px;
		margin: 0 3em 0 0.1em;
	}
	.menu{
		margin-top: 40px;
	}
	.menu li{ 
		font-size: 40px;
		cursor: pointer;
		margin: 0 0.5em 0 0.1em;
		color: #ffffff;
	}
	/*footer-tille*/
	.footer-title{	
		height: 130px;
	}
	.footer-title p {
		margin: 0 1em 0 0.1em;
		font-size: 40px;
	}
	.logo img{
		width: 230px; height: 50px;
	}
}